.slugscreen__card {
  width: calc(100% - 20px);
  margin: 10px 10px;
}

.slugscreen__card__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #cecece;
  box-shadow: 0 1px 1px -1px grey;
}

.slugscreen__products__container {
  display: flex;
  margin: 5px 0;
  border: 1px solid #cecece;
  box-shadow: 0 1px 1px -1px grey;
}

.slugscreen__product__container {
  width: 200px;
  margin: 10px 10px;
}
.slugscreen__product__image__container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}
.slugscreen__product__image__container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.slugscreen__product__details__container {
  text-align: center;
}
.slugscreen__product__name {
  font-size: 14px;
  margin: 5px 0;
}

.slugscreen__product__rating {
  font-size: 13px;
}

.slugscreen__product__price {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}
