.cartitem__items__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cartitem__item__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 120px;
}

.cartitem__item__image > img {
  object-fit: contain;
  width: 40px;
}

.cartitem__item__details {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 14px;
  align-self: baseline;
  justify-content: space-between;
  height: 113px;
}

.cartitem__item__delivery {
  font-size: 12px;
  padding: 25px;
  margin: 0;
  text-align: end;
}

.quantity__container {
  padding: 5px 0;
  font-size: 13px;
}

.cartitem__button {
  background: rgb(255, 255, 255);
  border: 1px rgb(201, 201, 201) solid;
  border-radius: 12px;
  height: 25px;
  width: 25px;
  color: rgb(0, 0, 0);
}

.cartitem__button:focus {
  outline: none;
}

.cartitem__button__center {
  background: rgb(255, 255, 255);
  border: 1px rgb(201, 201, 201) solid;
  height: 25px;
  width: 35px;
}

.cartitem__options {
  cursor: pointer;
  padding: 0 5px;
  border: rgb(212, 212, 212) solid 1px;
  background: rgb(255, 255, 255);
}
