.menuheader {
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 1px 1px -1px #333;
}

.menuheader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuheader > ul {
  display: flex;
  margin: 0 60px;
  position: relative;
}

.menuheader > ul > li {
  margin: 0 10px;
}

.menuheader > ul > li > span {
  display: block;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  font-size: 14px;
}
.menuheader > ul > li > span:hover {
  color: rgb(173, 173, 173);
}

.menuheader > ul > li > ul {
  position: absolute;
  background: rgb(250, 250, 250);
  border: 1px solid #cecece;
  left: 0;
  right: 0;
  display: none;
  z-index: 100;
}

.menuheader > ul > li:hover ul {
  display: block;
}

.menuheader > ul > li > ul > li {
  margin: 0 20px;
  float: left;
  min-width: 100px;
}

.menuheader > ul > li > ul > li a {
  padding: 3px 0;
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: slategrey;
}
.menuheader > ul > li > ul > li a:hover {
  color: black;
}

.menuheader > ul > li > ul > li > a {
  font-weight: bold;
  display: block;
}
